.item-content-box{
    background: white;
    padding: 1rem;
    border-radius: 0 5px 5px 0;
}

.item-content-description{
    height: 20rem;
    overflow-y: scroll;
}

.mat-expansion-panel{
    margin-bottom: 0.5rem;
}

.mat-expansion-panel-header{
    padding: 0 15px!important;
}