<section class="item-content-box">
  <ng-container *ngIf="_item else noItem">
    <h2>
      Instructions
      <div class="border-component-10"></div>
    </h2>
    <div class="item-content-description scrollbar-blue" [innerHTML]="_item?.itemVariants[0].description"></div>
    
    <h2>
      Optimization
      <div class="border-component-10"></div>
    </h2>

    <mat-expansion-panel *ngFor="let action of _item?.actions">
        
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="pt-3 pb-3 pl-2">
                <mat-checkbox [(ngModel)]="action.active" (change) ="onChangeSelectedActions(_item?.actions)" (click)="onStopPropagation($event)" class="mr-1"></mat-checkbox>  
                {{action.name}}
            </div>  
          
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <div [innerHTML]="action.actionVariants[0].description"></div>
    </mat-expansion-panel>
  </ng-container>

  <ng-template #noItem>
      <h1 class="message-info text-center">Choose an item from left</h1>
  </ng-template>

</section>

