<div class="campaing-nav background-blue400">
    <div class="campaing-nav-item">
        <span class="opacity50">CAMPAIGN GROUP NAME</span>
        <span>{{campaignGroup?.name}}</span>
    </div>
    <div class="campaing-nav-item">
        <span class="opacity50">CAMPAIGN NAME</span>
        <span>{{campaign?.name}}</span>
    </div>
    <div class="campaing-nav-item">
        <span class="opacity50">ACCOUNT PROGRESS</span>
        <span>0 out of {{campaingsCount}} Campaigns Analyzed</span>
    </div>
    <button mat-raised-button color="primary">Continue</button>
</div>