$_blue50: #D5EDFF;
$_blue100: #B6DCF7;
$_blue200: #55ACEC;
$_blue300: #0C8FEC;
$_blue400: #0971B9;
$_blue500: #14375F;

$_green50: #4FD56E;
$_green100:#189A36;

$ws_blue50: $_blue50;
$ws_blue100: $_blue100;
$ws_blue200: $_blue200;
$ws_blue300: $_blue300;
$ws_blue400: $_blue400;
$ws_blue500: $_blue500;

$ws_green50: $_green50;
$ws_green100: $_green100;

$font-body-color: $_blue500;